.gif-container img {
  display: inline-block;
  width: 20%; /* set the width to 33% to make them all the same size and fit 3 in a row */
  vertical-align: top; /* align them to the top to prevent extra space below */
  
}

.gif-image{
  opacity: 0.5;
  z-index: 999;
}