
.kontti-kontti{
  max-height: 100vh;
  min-height: 100vh;
}



.gif-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gif-container img {
  width: calc(1/7);
  object-fit: cover;
  margin: 0px;
  flex: 1;
}

.gif-image{
  position: relative;
  opacity: 0.5;
}