.gif-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gif-container img {
  width:20%;
  object-fit: cover;
  margin: 0px;
  flex: 1;
}

.gif-image{
  position: relative;
  opacity: 0.5;
}