
.custom-cursor {
    cursor: url('/KuKuKo/images/cursor.png'), auto;
    min-height: 100vh;
    max-height: 100vh;
}

.board-img{    
    min-height: 80vh;
    max-height: 80vh;
    background-image: url('/KuKuKo/images/board.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}