@import url("/KuKuKo/css/fonts.css");

.otsikko {
    color: #910000;
    font-family: 'MB-ForeverRaw';
    font-size: larger;

}


.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    min-width: 160px;
    z-index: 1;
    left: 0;
    right: auto;
}
  
.dropdown.active .dropdown-content {
    display: block;
}


