@import url("/KuKuKo/css/fonts.css");

.header-text {
    color: #910000;
    font-family: 'MB-ForeverRaw';
    font-size: 80px;
    position: absolute;

    text-shadow: 4px 4px 0 #000, 10px 10px 3px #fff, 6px 6px 0 #000;
    padding: 10px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.dropbtn {
    background-color: #1b1b1b;
    position: aboslute;
    top: 10px;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 75px;

}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    min-width: 160px;
    z-index: 1;
    left: 0;
    right: auto;
}
  
.dropdown.active .dropdown-content {
    display: block;
}


