


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.hiitteri {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
    font-size: 30px;
}

div.kroppa {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('images/KuKuKoBG.png');
}