body {
    margin: 0;
    padding: 0;
}


.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hiitteri {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
    font-size: 30px;
}

.kroppa {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('images/KuKuKoBG.png');
}



/* Style the dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}
  
/* Show the dropdown content when the user clicks on the button */
.dropdown:hover .dropdown-content {
    display: block;
}
