body {
    margin: 0;
    padding: 0;

}


.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1b1b1b;
}

.hiitteri {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 9999;
}

.kroppa {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-image: url("images/KuKuKoBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.teksti-laatikko{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px

}

h1{
    color: black;
    text-shadow: 1px 1px 0 #910000;
}




